.d-flex {
    display: flex;
}

.col-50 {
    width: auto;
}

.card-style {
  margin: 5px;
  background-color: bisque;
  padding: 5px;
  border: 1px solid;
}

.delete-meeting {
  float: right;
}

@media screen and (max-width: 600px) {
    .col-50 {
      width: 100%;
      margin-top: 0;
    }
  }