
<div>
    <label for="room">Scheduled meeting room details:</label>

    <select id="meeting" [(ngModel)]="meetinfDataToBeShown" (ngModelChange)="roomDetails($event)">
        <option [value]="scheduleRoom.name" *ngFor="let scheduleRoom of meetingRoomDetails">{{scheduleRoom.name}}</option>
    </select>

    <br>
    <label for="meetingroom">Showing Data For Selected Meeting Room:</label>

    <div class="row d-flex">
        <ng-container *ngFor="let meetingDetails of sheduledMeetingRoomDetails?.scheduleDetails, let index = index">
        <div class="card-style">
            <div class="col-50">
                <span>userId: {{meetingDetails.userId}} </span> <br>
                <span>selectedMeetingRoom: {{meetingDetails.selectedMeetingRoom}} </span> <br>
                <span>startTime: {{meetingDetails.startTime}} </span> <br>
                <span>endTime: {{meetingDetails.endTime}} </span> <br>
                <span>meetingDate: {{meetingDetails.meetingDate}} </span> <br>
                <span>agenda: {{meetingDetails.agenda}} </span>
            </div>
            <div class="delete-meeting">
                <button class="" (click)="deleteMeeting(meetingDetails, index)">Delete</button>
            </div>
        </div>
        </ng-container>
    </div>



</div>