

<div class="tab">
  <button class="tablinks" (click)="addStyles($event, 'meeting-room')">Book a meeting room</button>
  <button class="tablinks" (click)="addStyles($event, 'scheduled')">Scheduled Meeting Room</button>
</div>

<div id="meeting-room" class="tabcontent d-flex" *ngIf="headers.bookMeetingRoom">
  <div style="width: 50%;">
    <app-calender (dateClick)="dateClick($event)" [events]="bookings" (eventClick)=eventClick($event)></app-calender>
  </div>
  <div class="" style="width: 50%;">
    <app-booking-form [selectedDate]="userSelectedDate"
    (meetingDetail)="userMeetingDetail($event)"
    [userSelectedData]="userSelectedData"></app-booking-form> 
  </div>
</div>

<div id="scheduled" class="tabcontent" *ngIf="headers.scheduledMeetingRooms">
  view all meeting room
  <div class="container">
    <app-scheduled-meeting-room></app-scheduled-meeting-room>
  </div>
</div>