<!-- <div>
    <label for="cars">Choose a Meeting Room:</label>

    <select id="cars">
        <option value="room.name" *ngFor="let room of meetingRooms" [(ngModel)]="selectedMeetingRoom">{{room.name}}</option>
    </select>

    <br>
    <label for="cars">Reason to book Meeting Room:</label>
    <input type="text" [(ngModel)]="meetingTitle">

    <br>
    <label for="cars">Select Start Time</label>
    <input type="time" id="startTime" name="startTime" [(ngModel)]="startTime" (ngModelChange)="changeToMinute('start')">
    <label for="cars">Select End Time:</label>
    <input type="time" id="endTime" name="endTime" [(ngModel)]="endTime" (ngModelChange)="changeToMinute('end')">

    <br>
    <label for="cars">Select Start Date</label>
    <input type="date" id="startDate" name="startDate" [(ngModel)]="startDate" (ngModelChange)="checkValidDate()">

    <button type="submit" form="form1" value="Submit" (click)="submit()">Submit</button>
</div> -->
<div class="meeting-form" [formGroup]="meetingRoomForm" (ngSubmit)="submit(meetingRoomForm)">

    <div>
        <label for="cars">Select User ID:</label>
        <select id="cars" formControlName="userId">
            <option [value]="user" *ngFor="let user of userIdDetails" >{{user}}</option>
        </select>
        <br>
    </div>
    <div>
        <label for="cars">Choose a Meeting Room:</label>
        <select id="cars" formControlName="selectedMeetingRoom">
            <option [value]="room.name" *ngFor="let room of meetingRooms" >{{room.name}}</option>
        </select>
        <br>
    </div>
    <div>
        <label for="cars">Reason to book Meeting Room:</label>
        <input type="text" formControlName="agenda">
        <br>
    </div>
    <div>
        <label for="cars">Select Start Time</label>
        <input type="time" id="startTime" name="startTime" formControlName="startTime">
        <br>
    </div>
    <div>
        <label for="cars">Select End Time:</label>
        <input type="time" id="endTime" name="endTime" formControlName="endTime">
    </div>
    <div>
        <label for="cars">Select Start Date</label>
        <input type="date" id="startDate" name="startDate" formControlName="meetingDate">
        <br>
    </div>

    <div style="text-align: end;">
        <button type="submit" form="form1" value="Submit" (click)="submit()">Submit</button>
    </div>

</div>